[project]
	description = This app is to build for just educational purposes!!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rishab Kumar (RishabAkalankan)
[access "refs/for/refs/*"]
	read = group user/Rishab Kumar (RishabAkalankan)
	push = group user/Rishab Kumar (RishabAkalankan)
	label-Code-Review = -2..+2 group user/Rishab Kumar (RishabAkalankan)
	label-Verified = -1..+1 group user/Rishab Kumar (RishabAkalankan)
	rebase = group user/Rishab Kumar (RishabAkalankan)
	removeReviewer = group user/Rishab Kumar (RishabAkalankan)
	submit = group user/Rishab Kumar (RishabAkalankan)
[access "refs/heads/*"]
	read = group user/Rishab Kumar (RishabAkalankan)
	create = group user/Rishab Kumar (RishabAkalankan)
	push = +force group user/Rishab Kumar (RishabAkalankan)
	pushMerge = group user/Rishab Kumar (RishabAkalankan)
[access "refs/tags/*"]
	push = group user/Rishab Kumar (RishabAkalankan)
	push = +force group user/Rishab Kumar (RishabAkalankan)
